// See: https://de.wikipedia.org/wiki/DIN_5008 and https://de.wikipedia.org/wiki/Briefumschlag

$debug: false !default;
$footer-height: 30mm;

// Base style reset

* {
  border: 0;
  box-sizing: content-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

p:not(:first-child) {
  margin-top: 1em;
}

// Utility classes

.text-right {
  text-align: right !important;
}

// Invoice styling

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  padding: 1cm;
  background: #999;
}

.page {
  box-sizing: border-box;
  height: 296mm;
  width: 210mm;
  margin: 0 auto;
  overflow: hidden;
  padding: 1cm;
  background: white;
  box-shadow: 0 0 2.5cm -0.6cm rgba(0, 0, 0, 0.5);
  position: relative; // To make absolute positioning on the children work
}

.header {
  position: absolute;
  left: 25mm;
  right: 20mm;
  top: 10mm;
  height: 30mm;
  display: flex;
  align-items: center;
  @if $debug {
    background-color: #BBB;
  }

  h1 {
    font-size: 20pt;
    font-weight: bold;
  }
}

.window {
  position: absolute;
  left: 20mm;
  top: 45mm;
  width: 85mm;
  height: 45mm;
  @if $debug {
    background-color: #BBB;
  }

  address {
    position: absolute;
    left: 5mm;
    max-width: 80mm;
  }

  address.sender {
    top: 5mm;
    height: 12.7mm;
    width: 80mm;
    font-size: 8pt;
    text-decoration: underline;

    // vertical alignment
    display: flex;
    align-items: center;

    @if $debug {
      background-color: #EEE;
    }
  }

  // At most 6 lines
  address.recipient {
    top: 17.7mm;
    height: 27.3mm;
    width: 80mm;
    font-size: 9pt;
    @if $debug {
      background-color: #DDD;
    }
  }
}

.info {
  position: absolute;
  right: 10mm;
  top: 50mm;
  width: 75mm;
  height: 40mm;
  font-size: 9pt;
  @if $debug {
    background-color: #BBB;
  }
}

.text {
  position: absolute;
  top: 98.46mm;
  left: 25mm;
  height: 172.54mm - $footer-height;
  width: 165mm; 
  @if $debug {
    background-color: #BBB;
  }

  .subject {
    font-weight: bold;
    margin-bottom: 3em;
  }

  .valediction {
    margin-top: 2em;
  }
}

table.listing {
  @if $debug {
    background-color: white;
  }

  font-size: 10pt;

  width: 100%;
  border-collapse: collapse;

  th {
    font-weight: bold;
  }

  &:not(:first-child) {
    margin-top: 1em;
  }

  th, td {
    padding: 2mm;
  }

  tr {
    border-style: solid;
    border-color: #DDD;
  }

  thead>tr {
    background: #EEE;
    border-bottom-width: 0.4mm;
    text-align: left;
  }

  tbody>tr {
    background: white;
    border-bottom-width: 0.2mm;
  }

  tbody>tr:last-child {
    border-bottom-width: 0.4mm;
  }

  tfoot {
    font-weight: bold;
  }
}

.pagenumber {
  position: absolute;
  right: 20mm;
  bottom: 10mm + $footer-height + 5mm;
  font-size: 8pt;
  @if $debug {
    background-color: #BBB;
  }
}

.footer {
  position: absolute;
  bottom: 10mm;
  left: 25mm;
  width: 165mm;
  height: $footer-height;
  font-size: 8pt;
  display: flex;
  justify-content: space-between;

  &>p {
    margin-top: 0;
  }

  @if $debug {
    background-color: #BBB;

    p {
      background-color: #EEE;
    }
  }
}

hr[class|=page-marker] {
  position: absolute;
  left: 0;
  border-style: none;
  width: 10mm;
  height: 0.2mm;
  background-color: #999;
}

hr.page-marker-1 {
  top: 105mm;
}

hr.page-marker-2 {
  top: 148.5mm;
  width: 15mm;
}

hr.page-marker-3 {
  bottom: 87mm;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  body {
    background: none;
    padding: 0;
  }

  .page {
    box-shadow: none;
    margin: 0;
  }
}

@page {
  size: A4 portrait;
  margin: 0;
}